<div class="250820-louisvuitton-visionaryjourneys mx-auto bg-white" id="contentTop">
    <section id="section1" class="pv-section" data-pv-section="section1" data-section="section1">
        <div class="section">
            <video class="hidden sm:block" muted playsinline loop autoplay>
                 <source src="./assets/img/sp_kv.mp4" />
            </video>
            <video class="block sm:hidden" muted playsinline loop autoplay>
                 <source src="./assets/img/pc_kv.mp4" />
            </video>
        </div>
        <div class="section" id="about">
            <h2 class="source-han-sans-jp bold fade-in text-center">
                「ビジョナリー・ジャーニー」展で体感する、<br/>
                ルイ・ヴィトンとの時空を超えた旅。
            </h2>
            <p class="source-han-sans-jp fade-in text-center">
                大阪中之島美術館で現在開催中の「ビジョナリー・ジャーニー」展。<br/>
                会期半ばを迎え、 盛り上がりも最高潮となっている同展を、アーティストや小説家がそれぞれの視点で捉える。
            </p>
        </div>
        <div class="section common">
            <div class="wrapper flex justify-between mx-auto">
                <div class="wrapper-image fade-in">
                    <video src="./assets/img/LV01.mp4" autoplay muted playsinline loop></video>
                </div>
                <div class="wrapper-content fade-in">
                    <h3 class="wrapper-title indivisible semibold">“THE WORKSHOP”</h3>
                    <h4 class="wrapper-who">
                        <span class="indivisible medium">
                            featured by
                        </span>
                        <span class="indivisible semibold">
                            VERDY
                        </span>
                    </h4>
                    <h5 class="source-han-sans-jp bold">グラフィックアーティスト VERDYが体現するアトリエの美学。</h5>
                    <p class="source-han-sans-jp regular">進化するサヴォワールフェールによって生まれるトランクやバッグは、熟練の職人たちが集うアトリエから世界へ。手仕事を大切にするメゾンの伝統を体感できるアトリエエリアを、グラフィックアーティスト VERDYがカスタムデザインした「クーリエ・トランク」と楽しんで。</p>
                    <%- include('./../parts/_button', {link: '', className: '', text: '記事をチェック'}) %>
                </div>
            </div>
        </div>
    </section>
    <section id="section2" class="pv-section" data-pv-section="section2" data-section="section2">
        <div class="section common">
            <div class="wrapper flex justify-between mx-auto flex-row-reverse">
                <div class="wrapper-image fade-in">
                    <video src="./assets/img/LV02.mp4" autoplay muted playsinline loop></video>
                </div>
                <div class="wrapper-content fade-in">
                    <h3 class="wrapper-title indivisible semibold">“ATRIUM”</h3>
                    <h4 class="wrapper-who">
                        <span class="indivisible medium">
                            featured by
                        </span>
                        <span class="indivisible semibold">
                            TOMOKAZU MATUYAMA
                        </span>
                    </h4>
                    <h5 class="source-han-sans-jp bold">アーティスト 松山智一が紐解く、日本とメゾンの絆。</h5>
                    <p class="source-han-sans-jp regular">「ビジョナリー・ジャーニー」展を訪れた人々をまず誘うのは、吹き抜けのアトリウムに吊るされた和紙のトランクタワー。モノグラムが描かれた無数のトランクが、ランタンの灯りとなって穏やかに包み込む。世界を魅了するアーティスト 松山智一の視点で、メゾンが大切にしてきた日本との絆を紐解く。</p>
                    <%- include('./../parts/_button', {link: '', className: '', text: '記事をチェック'}) %>
                </div>
            </div>
        </div>
    </section>
    <section id="section3" class="pv-section" data-pv-section="section3" data-section="section3">
        <div class="section">
            <div class="parallax-area overflow-hidden">
                <div class="gif relative h-full">
                    <div class="gif-image active">
                        <picture>
                            <source srcset="./assets/img/sp_1.jpg" media="(max-width:749px)" />
                            <img src="./assets/img/pc_1.jpg" alt="">
                        </picture> 
                    </div>
                    <div class="gif-image absolute center-xy sm:center-xy h-full w-full">
                        <picture>
                            <source srcset="./assets/img/sp_2.jpg" media="(max-width:749px)" />
                            <img src="./assets/img/pc_2.jpg" alt="">
                        </picture> 
                    </div>
                    <div class="gif-image absolute center-xy sm:center-xy h-full w-full">
                        <picture>
                            <source srcset="./assets/img/sp_3.jpg" media="(max-width:749px)" />
                            <img src="./assets/img/pc_3.jpg" alt="">
                        </picture> 
                    </div>
                    <div class="gif-image absolute center-xy sm:center-xy h-full w-full">
                        <picture>
                            <source srcset="./assets/img/sp_4.jpg" media="(max-width:749px)" />
                            <img src="./assets/img/pc_4.jpg" alt="">
                        </picture> 
                    </div>
                </div>
            </div>
            <p class="text source-han-sans-jp regular">
               メゾン創業170周年というアニバーサリーイヤーにふさわしい壮大なエキシビション「ビジョナリー・ジャーニー」展が、大阪中之島美術館で開催されている。今回は日本との関係性に焦点を当てているのが特徴で、卓越した匠の技、創造性、革新性を日本のフィルターを通した新たな解釈で提示。美術史家兼キュレーターのフロランス・ミュラーの協力のもとOMAの重松象平が演出デザインを担当し、メゾンの原点から最新クリエイションまでの軌跡を巡る没入型の展覧会となっている。ここで披露されるのは、厳選されたアーカイブや貴重な歴史的オブジェ、世界有数の国際的芸術機関の協力による特別展示といったレジェンダリーな名品から、グラフィックアーティストのVERDYがカスタムしたストリート感あふれるスペシャルなトランクまで、総計1000点以上にものぼる。加えて、オーディオガイドには市川團十郎白猿、広瀬すず、平野紫耀らアンバサダーが顔を揃えるとあり、必見ならぬ必聴ポイントもたっぷり。11のテーマで展開される空間が、過去から未来へと馳せるイマジネーティブな旅へと誘う。 
            </p>
        </div>
        <div class="section common">
            <div class="wrapper flex justify-between mx-auto">
                <div class="wrapper-image fade-in">
                    <video src="./assets/img/LV03.mp4" autoplay muted playsinline loop></video>
                </div>
                <div class="wrapper-content fade-in">
                    <h3 class="wrapper-title indivisible semibold">“EXPEDITION”</h3>
                    <h4 class="wrapper-who">
                        <span class="indivisible medium">
                            featured by
                        </span>
                        <span class="indivisible semibold">
                            MARIKO ASABUKI
                        </span>
                    </h4>
                    <h5 class="source-han-sans-jp bold">小説家 朝吹真理子が綴るルイ・ヴィトンの創造性。</h5>
                    <p class="source-han-sans-jp regular">メゾンを語るのに欠かせない、旅というエッセンス。新しい世界へ踏み出す先人たちを、旅を通じて支えてきたことがわかる冒険のエリアには、小説家アーネスト・ヘミングウェイや音楽家・坂本龍一が所有していた貴重なトランクが集結。小説家 朝吹真理子が、メゾンを共鳴する創造性をトランクに詰め込み、綴る。</p>
                    <%- include('./../parts/_button', {link: '', className: '', text: '記事をチェック'}) %>
                </div>
            </div>
        </div>
    </section>
    <section id="section4" class="pv-section" data-pv-section="section4" data-section="section4">
        <div class="section common">
            <div class="wrapper flex justify-between mx-auto flex-row-reverse">
                <div class="wrapper-image fade-in">
                    <video src="./assets/img/LV04.mp4" autoplay muted playsinline loop></video>
                </div>
                <div class="wrapper-content fade-in">
                    <h3 class="wrapper-title indivisible semibold">“TEST” &<br/>
                     “THE WORKSHOP”</h3>
                    <h4 class="wrapper-who">
                        <span class="indivisible medium">
                            featured by
                        </span>
                        <span class="indivisible semibold">
                            MARIYA SUZUKI
                        </span>
                    </h4>
                    <h5 class="source-han-sans-jp bold">絵描き MARIYA SUZUKIが描く、アトリエと耐久性試験エリア。</h5>
                    <p class="source-han-sans-jp regular">世代を超えて受け継がれるアイテムを支える確かな品質。精密な測定機器でのテストによって担保される耐久性が、メゾンの変わらない美学を繋ぐ。耐久性試験エリアと創造性とものづくりの中核を担うアトリエエリアを絵描きのMARIYA SUZUKIがライブペンティングで描く。</p>
                    <%- include('./../parts/_button', {link: '', className: '', text: '記事をチェック'}) %>
                </div>
            </div>
        </div>
    </section>
    <section id="section5" class="pv-section" data-pv-section="section5" data-section="section5">
        <div id="invitation" class="section">
            <div class="section__inner">
                <div class="wrapper flex fade-in sm:block">
                    <h2 class="indivisible semibold">
                        INVITATION OF VISIONARY JOURNEYS
                    </h2>
                    <div>
                        <h3 class="source-han-sans-jp bold">「ビジョナリー・ジャーニー」展で、<br/>
                        メゾンのエスプリと出合う。</h3>
                        <p class="source-han-sans-jp regular">
                        大阪中之島美術館5階の、広大なギャラリースペースをフルに使って展開する「ビジョナリー・ジャーニー」展。 11のテーマそれぞれに趣向を凝らした空間を、心躍らせながら巡ってみたい。
                        </p>
                    </div>
                </div>
                <div class="image fade-in">
                    <img src="./assets/img/map.png" alt="">
                </div>
            </div>
        </div>
        <div id="index" class="section">
            <div class="section__inner">
                <div class="wrapper flex justify-between">
                    <ul>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold">
                                TRUNKSCAPE<br/>
                                トランクスケープ
                            </p>
                            <p class="source-han-sans-jp regular">
                                ロビーには、メゾンを象徴するトランクを球体のように 構築したインスタレーションが。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no1">
                                Asnières<br/>
                                アニエール
                            </p>
                            <p class="source-han-sans-jp regular">
                                エントランスは、創業時にアトリエを設立したアニエールのファミリーハウスを体感できるスペースとなっている。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no2">
                                ORIGINS<br/>
                                原点
                            </p>
                            <p class="source-han-sans-jp regular">
                                メゾンの原点であるトランクやラゲージの数々に加え、重要なエピソードにまつわるアイテムも披露。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no3">
                                EXPEDITIONS<br/>
                                冒険
                            </p>
                            <p class="source-han-sans-jp regular">
                                交通手段の発展とともに開発、進化してきたトランクやラゲージの変遷をたどる。ルイ・ヴィトンのトラベルブックからピックアップされた、旅を彷彿させるイラストレーションも公開。
                            </p>
                        </li>
                    </ul>
                    <ul>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no4">
                                LOUIS VUITTON AND JAPAN<br/>
                                ルイ・ヴィトンと日本
                            </p>
                            <p class="source-han-sans-jp regular">
                                十五代市川團十郎白猿のために製作されたパーソナルな逸品のほか、フランス人フォトグラファーのジャン＝ヴァンサン・シモネによるフォトブック『ファッション・アイ 大阪』の写真など、日本との結びつきの深さをうかがわせるアイテムが集結。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no5">
                                MATERIALS<br/>
                                素材
                            </p>
                            <p class="source-han-sans-jp regular">
                                ウッド、メタル、レザー、キャンバスなど、メゾンのクリエイションを表現してきた代表的なマテリアルをクローズアップ。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no6">
                                HISTORY OF MONOGRAM CANVAS<br/>
                                モノグラム・キャンバスの歴史
                            </p>
                            <p class="source-han-sans-jp regular">
                                アイコニックなモノグラム・キャンバスを、デジタルインスタレーションも交えてフィーチャー。2021年パリ市公文書館にて奇跡的に無傷の状態で発見された19世紀のオリジナルサンプルは初公開となり、必見。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no8">
                                THE WORKSHOP<br/>
                                アトリエ
                            </p>
                            <p class="source-han-sans-jp regular">
                                VERDYがコラボレートしたトランクや平野紫耀の特注品が展示される他、デモンストレーションスペースでは、職人が実際に作業する様子を間近に見ることができる。
                            </p>
                        </li>
                    </ul>
                    <ul>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no9">
                                TESTING<br/>
                                耐久性試験
                            </p>
                            <p class="source-han-sans-jp regular">
                                製品化されるまで、耐久性などのテストを重ねる過程を紹介。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no10">
                                ATELIER RAREX<br/>
                                アトリエ「ラレックス」
                            </p>
                            <p class="source-han-sans-jp regular">
                                世界中のセレブリティのために生み出された華やかな衣装が登場。浅野忠信や福島リラ、広瀬すずなどメゾンと所縁のあるスターが着用したアイテムもお目見えする。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold no11">
                                COLLABORATIONS<br/>
                                コラボレーション
                            </p>
                            <p class="source-han-sans-jp regular">
                                スティーブン・スプラウス、草間彌生、村上隆、Supremeといった、メゾンの歴史を華やかに彩ってきた数々のコラボレーションアイテムが一堂に会する。
                            </p>
                        </li>
                        <li class="fade-in">
                            <p class="source-han-sans-jp bold">
                                GIFT STORE<br/>
                                ギフトショップ
                            </p>
                            <p class="source-han-sans-jp regular">
                                エキシビションに訪れた人だけに叶うもうひとつのお楽しみがギフトショップ。同展限定のブックレットやルイ・ヴィトンが発行する書籍のほか、ここでしか購入できない限定品も販売。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fade-in">
                <%- include('./../parts/_button', {link: '', className: '', text: '記事をチェック'}) %>
            </div>
        </div>
    </section>
    <section id="section6" class="pv-section" data-pv-section="section6" data-section="section6">
        <div id="information" class="section">
            <div class="section__inner">
                <div class="wrapper">
                    <div class="wrapper-image fade-in">
                        <img src="./assets/img/information.jpg" alt="">
                    </div>
                    <div class="wrapper-content">
                        <h2 class="indivisible semibold fade-in">
                            INFORMATION
                        </h2>
                        <div class="line-wrapper">
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">会期</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">開催中～9月17日（水）</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">会場</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">大阪中之島美術館5階展示室 ※ギフトショップは本展鑑賞時のみ入場可能。</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">開館時間</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">10：00～17：00（16：30最終入場、日～木）、<br/>
                                    10：00～19：00（18：30最終入場、金・土・祝前日）</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">休館日</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">月 ※ 9月15日（月・祝）は開館。※災害などにより臨時休館する場合アリ。</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">主催</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">大阪中之島美術館</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">特別協力</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">ルイ・ヴィトン</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">料金</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">一般￥2,000、大学・専門学校生￥1,500、 高校生以下無料　※日時指定制</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">販売場所</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">大阪中之島美術館チケットサイト、ローソンチケット</p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">オーディオガイド</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">会場内にある案内に スマートフォンをかざすと無料で利用可能。 スマートフォンとイヤホンが必要。 </p>
                                </div>
                            </div>
                            <div class="line flex justify-between fade-in sm:block">
                                <div>
                                    <p class="source-han-sans-jp bold">問い合わせ</p>
                                </div>
                                <div>
                                    <p class="source-han-sans-jp">大阪市総合コールセンター 06-4301-7285 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="section">
            <div class="section__inner">
                <h2 class="source-han-sans-jp bold text-center">問い合わせ先</h2>
                <p class="source-han-sans-jp text regular text-center">ルイ・ヴィトン クライアントサービス<br/>
0120-00-1854（フリーダイヤル）</p>
                <%- include('./../parts/_button', {link: '', className: 'long', text: '公式サイト'}) %>
                <ul class="flex justify-center">
                    <li>
                        <a href="http://" target="_blank" rel="noopener">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener">
                            <i class="fa-brands fa-line"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                </ul>
                <p class="note stevie-sans text-center">photography: Sodai Yokoyama （Verdy, Tomokozu Matsuyama）、 Sadaho Naito （Mariko Asabuki, ）<br/>
styling: Naomi Shimizu（Mariko Asabuki）<br/>
hair&makeupy: Chie Fujimoto （Mariko Asabuki）<br/>
editing: Mami Aiko</p>
            <div class="text-center fade-in">
                <div class="scroll-trigger inline-block cursor-pointer" data-target="top">
                    <div class="icon">
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 12L6.61765 0L12.5 12L6.61765 8.76271L0.5 12Z" fill="#272727"/>
                            </svg>
                    </div>
                    <p class="steive-sans text-center">BACK TO TOP</p>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
